@use "./style/color.module.scss";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// Body
body {
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

// App
.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  align-items: start;
  padding: 30px;
  width: 100%;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr; // Change to a single column for smaller screens
    padding: 10px; // Adjust padding for smaller screens
  }
}

.left {
  display: flex;
  flex-direction: column;

  button {
    align-self: end;
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 20px;
  }
}

// Form
form {
  display: grid;
  gap: 1.2rem;
  align-items: center;
  background-color: color.$lightest;
  border-radius: 7px;

  button {
    margin-top: 0.6rem;
    grid-column: 2;
  }

  h2 {
    grid-column: 1 / -1;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 1.6rem;
  }
}

label {
  font-weight: 500;
}

label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

input,
select {
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 1px solid color.$dark;
  }
}
